<div>
  <h2>Login</h2>
  <form action="/sessions/login" method="POST">
    Email:
    <input type="text" name="email" />
    <br />
    Password:
    <input type="text" name="password" />
    <br />
    <input type="submit" value="Login" />
  </form>
</div>
<div>
    <form action="/sessions/register" method="GET">
        <button type="submit">Regístrate</button>
    </form>
</div>